@import "reset";
@import "variables/global";
@import "variables/classes";

.app {
	overflow-x: hidden;
	font: var(--font-m);
	color: var(--primary-color);
	background: var(--primary-bg-color);
	min-height: 100vh;
	padding: 0px var(--margin-x-lg);
	padding-bottom: var(--padding-xx-lg);
}
